<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100">
    <%= render "shared/navbar" %>
    <div class="container mx-auto mt-8">
      <div class="grid grid-cols-1 gap-4">
        <p class="text-green-600"><%= notice %></p>
        <p class="text-red-600"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
